SEMINARIO 5 Flujos-20220429/switch_template.json
[
    {
        "id": "61a306728fb021e3",
        "type": "tab",
        "label": "Switch + Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b329f7877f7cc6e",
        "type": "switch",
        "z": "61a306728fb021e3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "number",
                "vt": "number"
            },
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            },
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "b8dbd27a2e1b2f05"
            ],
            [
                "fcd5af3388a92294"
            ],
            [
                "b6d63f7d3d02c0ee"
            ]
        ]
    },
    {
        "id": "1500a7dd91d81e60",
        "type": "inject",
        "z": "61a306728fb021e3",
        "name": "Número",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "34.45",
        "payloadType": "num",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "2b329f7877f7cc6e"
            ]
        ]
    },
    {
        "id": "6898f8d2366b6585",
        "type": "inject",
        "z": "61a306728fb021e3",
        "name": "Cadena",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "2b329f7877f7cc6e"
            ]
        ]
    },
    {
        "id": "0292cb2fbf45cf8b",
        "type": "inject",
        "z": "61a306728fb021e3",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"model\":\"Ford\", \"price\":5000}",
        "payloadType": "json",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "2b329f7877f7cc6e"
            ]
        ]
    },
    {
        "id": "b8dbd27a2e1b2f05",
        "type": "debug",
        "z": "61a306728fb021e3",
        "name": "Número",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "fcd5af3388a92294",
        "type": "debug",
        "z": "61a306728fb021e3",
        "name": "Cadena",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c58a32bc978955c",
        "type": "debug",
        "z": "61a306728fb021e3",
        "name": "JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "b6d63f7d3d02c0ee",
        "type": "template",
        "z": "61a306728fb021e3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The model '{{payload.model}}' has a price of {{payload.price}} euros",
        "output": "str",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "7c58a32bc978955c"
            ]
        ]
    }
]